<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="Login" ng-controller="LoginCtrl">

    <div class="doc-example ionic">
      <div class="bar bar-header">
        <div class="h1 title">Hachi</div>
      </div>
      <div class="content has-header">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" id="Username" ng-model="Username" placeholder="Username">
          </label>
          <label class="item item-input">
            <input type="password" id="Password" ng-model="Password" placeholder="Password">
          </label>
          <button class="button button-block button-positive" ng-click="Login()">Login</button>
          <center>
            <h4>or</h4>
          </center>
          <button class="button button-block button-dark">
            Signup
          </button>
        </div>
        <div class="padding">
        </div>
      </div>

    </div>

    <!-- <div class="bar bar-footer bar-light">
      <div class="title">Github</div>
    </div> -->

  </body>
</html>
